// Colors
$black:#000;
$grey300: #22262a;
$grey800: #596167;
$grey1200: #8d9ba9;
$grey1300: #b0bac3;
$grey1400: #ced4da;
$white: #fff;

$blue1: #0074ff;
$blue2: #009eeb;
$blue3: #018ed6;
$blue4: #018ed6;

$red1: #cc0000;
$red2: #f21616;
$red3: #fe3001;
$red4: #f45040;

$yellow1: #e9bf09;
$yellow2: #f6ce1e;
$yellow3: #ffd901;
$yellow4: #ffe502;
