<header (window:resize)="resizeWindow()" id="header">
  <figure class="logo-container">
    <img (click)="toggleMenuMobile()" class="icon-menu" id="iconMenu" src="../../../assets/img/icon-menu.svg" alt="logo">
    <img class="logo" height="70px" src="../../../assets/img/logo_bauhaus.png" alt="logo">
  </figure>
  <nav>
    <ul #menuDesktop (mouseover)="onMenuDesktopOver($event)" id="menu" class="menu">
        <li value="artistas"> <img width="40px" src="../../../assets/img/icon-Artistas.svg"> Artistas </li>
        <li value="arquitectas"><img width="40px" src="../../../assets/img/icon-Arquitectas.svg"> Arquitectas</li>
        <li value="disenadoras"><img width="40px" src="../../../assets/img/icon-Disenadoras.svg"> Diseñadoras</li>
        <li value="escritoras"><img width="40px" src="../../../assets/img/icon-Escritoras.svg"> Escritoras</li>
        <li value="fotografas"><img width="40px" src="../../../assets/img/icon-Fotografas.svg"> Fotógrafas</li>
        <li value="maestras"><img width="40px" src="../../../assets/img/icon-Maestras.svg"> Maestras</li>
    </ul>
  </nav>
</header>
<!-- mobile menu -->
<section #menuMobileContainer  id="mobileMenuContainer" class="mobile-menu-container" [class.show]="_showMenuMobileContainer==true">
  <ul #menuMobileRoles (click)="loadMenuMobileRoles($event)" id="mobileMenu" class="menu-mobile" [class.show]="_showMenuMobileRoles==true">
    <li value="artistas">Artistas <img src="../../../assets/img/icon-Artistas.svg"></li>
    <li value="arquitectas">Arquitectas <img src="../../../assets/img/icon-Arquitectas.svg"></li>
    <li value="disenadoras">Diseñadoras <img src="../../../assets/img/icon-Disenadoras.svg"></li>
    <li value="escritoras">Escritoras <img src="../../../assets/img/icon-Escritoras.svg"></li>
    <li value="fotografas">Fotógrafas <img src="../../../assets/img/icon-Fotografas.svg"></li>
    <li value="maestras">Maestras <img src="../../../assets/img/icon-Maestras.svg"></li>
  </ul>

  <!-- dinamic women list -->
  <app-submenu-mobile id="mobileWomenList" class="mobile-women-list"></app-submenu-mobile>

</section>
<!-- submenu Desktop-->
<section id="submenu" class="submenu">
<div class="women-list-container">
  <app-submenu></app-submenu>
</div>
</section>
