<header id="header">
  <figure class="logo-container">
    <img class="icon-menu" id="iconMenu" src="../../../assets/img/" alt="logo">
    <img class="logo" height="70px" src="../../../assets/img/logo_bauhaus.png" alt="logo">
  </figure>
  <nav>
    <ul #menuDesktop (mouseover)="onMenuDesktopOver($event)" id="menu" class="menu">
        <li value="artistas"> <img width="40px" src="../../../assets/img/icon-Artistas.svg"> Artistas </li>
        <li value="arquitectas"><img width="40px" src="../../../assets/img/icon-Arquitectas.svg"> Arquitectas</li>
        <li value="disenadoras"><img width="40px" src="../../../assets/img/icon-Disenadoras.svg"> Diseñadoras</li>
        <li value="escritoras"><img width="40px" src="../../../assets/img/icon-Escritoras.svg"> Escritoras</li>
        <li value="fotografas"><img width="40px" src="../../../assets/img/icon-Fotografas.svg"> Fotógrafas</li>
        <li value="maestras"><img width="40px" src="../../../assets/img/icon-Maestras.svg"> Maestras</li>
    </ul>
  </nav>
</header>
<!-- mobile menu -->
<section id="mobileMenuContainer" class="mobile-menu-container">
<ul id="mobileMenu" class="menu-mobile">
  <li value="artistasMobile">Artistas <img src="../../../assets/img/icon-Artistas.svg"></li>
  <li value="arquitectasMobile">Arquitectas <img src="../../../assets/img/icon-Arquitectas.svg"></li>
  <li value="disenadorasMobile">Diseñadoras <img src="../../../assets/img/icon-Disenadoras.svg"></li>
  <li value="escritorasMobile">Escritoras <img src="../../../assets/img/icon-Escritoras.svg"></li>
  <li value="fotografasMobile">Fotógrafas <img src="../../../assets/img/icon-Fotografas.svg"></li>
  <li value="maestrasMobile">Maestras <img src="../../../assets/img/icon-Maestras.svg"></li>
</ul>
<ul id="mobileWomenList" class="mobile-women-list">
  <!-- dinamic women list -->
</ul>
</section>
<!-- submenu Desktop-->
<section id="submenu" class="submenu">
<div id="icon" class="icon-list-container">
  <img style="display:none;" id="iconRole" class="icon-Role" alt="arte">
</div>
<div class="women-list-container">
  <app-submenu></app-submenu>
  <article  #womenList id="womenList" class="women-list">
    <!-- inyección dinámica de submenu -->
  </article>
</div>
</section>
