@import "./../../scss/colors.scss";
@import "./../../scss/typo.scss";
@import "./../../scss/breakpoints.scss";

header {
  background: $grey300;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;

  @include tablet {
    flex-direction: column;
  }

  .logo-container {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin: 0;
    padding-left: 1rem;
    flex-wrap: wrap;

    @include tablet {
      flex-grow: 1;
    }

    @include mobile {
      align-content: center;
      height:70px;
      display: flex;
    }

    .icon-menu {
      display: none;

      @include mobile {
        display: block;
        position: absolute;
        left: 10px;
        top:20px;
        height:50px;
      }
    }

    .logo {
      @include mobile {
        height: 50px;
      }
    }
  }
  //menu
  nav {
    display: flex;

    @include tablet {
      flex-grow: 1;
      width: 100%;
      justify-content:end;
    }

    @include mobile {
      display: none;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      min-width: 100%;
      max-width: auto;
      height:90px;
      margin: 0;
      margin-top: 1rem;
      list-style: none;
      z-index: 3;
      li{
        transition: all linear .3s;
        cursor: pointer;
        color: $grey1200;
        font-size: $menu;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &:hover {
          cursor: pointer;
          color: $white;
          font-size: $menu;
          transition: all linear .6s;
        }
      }
    }
  }

}

/* menu movil */

.mobile-menu-container {
  display: none;
  background: $grey300;
  height: 100vh;
  width: 90vw;

  @include mobile {
    display: none;
  }

  .menu-mobile {
    @include mobile {
      display: none;
      list-style: none;
      background: $blue1;
      margin: 0;
      padding:0;
      font-family: 'bau';

      li {
        background: $blue1;
        box-shadow: 0 0 1px $white;
        color: $white;
        font-family: 'bau' !important;
        font-size: $menu-item;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
      }
    }
  }

  .mobile-women-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: var(--white);
    font-size: var(--menu-item);
    width:100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    @include mobile {
      li {
        transition: all linear .3s;
        color: var(--white);
        text-shadow: 0 0 0 var(--grey1200);
        padding: 0.7em 1rem;
        border-bottom: 0.2px solid #ccc;
        font-family: 'abel';
        font-size: $menu-item;
        word-wrap: break-word;
      }
      .role-title {
        background: $blue1;
        font-family: 'bau' !important;
        display: flex;
        justify-content: space-between;

        div {
          padding-right: 3rem;
          font-family: verdana;
        }
      }
    }
  }
}

/* Submenu */

.submenu {
  width: 100%;
  display: flex;
  flex-direction: column;

  .icon-list-container {
    background: $grey300;
    .icon-role {
      position: relative;
    }
  }
  .women-list-container {
    .women-list {
      position: relative;
      display: flex;
      color: $white;
      font-size: $menu-item;
      width: max-content;
      transform: translateY(-25px);
    }
  }
}

.show {
  display: block !important;
}
